[submodule "lv2"]
	path = deps/lv2
	url = https://github.com/lv2/lv2
[submodule "deps/NeuralAudio"]
	path = deps/NeuralAudio
	url = https://github.com/mikeoliphant/NeuralAudio
[submodule "deps/FFTConvolver"]
	path = deps/FFTConvolver
	url = https://github.com/HiFi-LoFi/FFTConvolver
[submodule "deps/JUCE"]
	path = deps/JUCE
	url = https://github.com/juce-framework/JUCE.git
